@layer atom {
  /* dataMode */

  .accMainContainer {
    cursor: pointer;
  }

  .innerLabelAndChevroneContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .triggerDisabled {
    cursor: not-allowed;
    color: var(--accent);
  }

  .label {
    font-size: 12px;
    font-family: var(--Vazirmatn);
    color: var(--mainText);
  }

  .labelIconWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .chevronWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chevronMotionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chevron {
    margin: 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    color: var(--mainText);
  }

  .innerContentContainer {
    font-family: var(--Vazirmatn);
    font-size: 12px;
    color: var(--accent);
  }
}
