@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  /* fonts */
  --font-inter: var(--inter), sans-serif;
  --font-yekanbakh: var(--yekanbakh), sans-serif;
  /* colors */
  --color-brand-primary: #5a3eb5;
  --color-accent: #989fb3;
  --color-mainText: #f7f7f7;
  --color-mainBg: #f8f9fa;
  --color-headerBg: #051844;
}
