@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme inline {
  /* fonts */
  --font-inter: var(--inter);
  --font-yekanbakh: var(--yekanbakh);
  /* colors */
  /* Brand Colors */
  --color-brand-primary: var(--brand-primary);
  --color-brand-hover: var(--brand-hover);
  --color-brand-accent: var(--brand-accent);
  /* Text Colors */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-inverse: var(--text-inverse);
  /* State Colors */
  --color-state-success: var(--state-success);
  --color-state-error: var(--state-error);
  --color-state-warning: var(--state-warning);
  --color-state-info: var(--state-info);
  /* UI Colors */
  --color-ui-bg: var(--ui-background);
  --color-ui-surface: var(--ui-surface);
  --color-ui-border: var(--ui-border);
  --color-ui-divider: var(--ui-divider);

  /* animation */
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

:root {
  /* brand */
  --brand-light: #9378d1;
  --brand-primary: #5a3eb5;
  --brand-hover: #483291;
  --brand-active: #3d2a7a;

  /* Brand Accents - Light Mode */
  --brand-accent-light: #f4f2fa; /* Extremely light */
  --brand-accent: #e9e5f5;
  --brand-accent-dark: #d4cbed; /* Darker accent */

  /* text */
  --text-primary: #111827;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;
  --text-inverse: #ffffff;
  /* state */
  --state-success: #059669;
  --state-error: #dc2626;
  --state-warning: #d97706;
  --state-info: #2563eb;
  /* ui */
  --ui-background: #f9fafb;
  --ui-surface: #ffffff;
  --ui-border: #e5e7eb;
  --ui-divider: #f3f4f6;
}
.dark {
  /* --- DARK THEME --- */
  /* brand */
  --brand-light: #b6a5e0; /* Lighter shade */
  --brand-primary: #5a3eb5;
  --brand-hover: #9378d1; /* Lighter hover for dark backgrounds */
  --brand-active: #5a3eb5; /* Darker active state */

  /* Brand Accents - Dark Mode (Deep dark purples) */
  --brand-accent-light: #332561; /* Lighter dark accent */
  --brand-accent: #211645; /* Base dark accent */
  --brand-accent-dark: #160e2e; /* Extremely dark */

  /*dark-text */
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-muted: #9ca3af;
  --text-inverse: #111827;
  /* dark-state */
  --state-success: #10b981;
  --state-error: #ef4444;
  --state-warning: #f59e0b;
  --state-info: #3b82f6;
  /* dark-ui */
  --ui-background: #111827;
  --ui-surface: #1f2937;
  --ui-border: #374151;
  --ui-divider: #1f2937;
}
